<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<div layout:fragment="content">
    <div class="card" style="max-width: 600px; margin: 0 auto;">
        <div class="card-body">
            <h2 class="text-center mb-4">Add Task</h2>
            <form th:action="@{/add}" method="post">
                <div class="mb-3">
                    <label>Name:</label>
                    <input type="text" name="name" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Deadline:</label>
                    <input type="date" name="deadlineDate" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Description:</label>
                    <textarea name="description" rows="3" class="form-control"></textarea>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add task</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
