<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<div layout:fragment="content">
    <div class="card" style="max-width: 600px; margin: 0 auto;">
        <div class="card-body">
            <h3 class="text-center mb-4">Task Details</h3>
            <form th:action="@{/edit/{id}(id=${task.id})}" method="post">
                <input type="hidden" th:value="${task.id}" name="id">
                <div class="mb-3">
                    <label>Name:</label>
                    <input type="text" id="name" name="name" class="form-control" th:value="${task.name}" required>
                    <label>Deadline:</label>
                    <input type="date" id="deadlineDate" name="deadlineDate" class="form-control" th:value="${task.deadlineDate}" required>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" id="completed" name="completed" class="form-check-input" th:checked="${task.completed}">
                    <label>Completed</label>
                </div>

                <div class="mb-3">
                    <label>Description:</label>
                    <textarea id="description" name="description" class="form-control" rows="3" th:text="${description}"></textarea>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a th:href="@{/delete/{id}(id=${task.id})}" class="btn btn-danger">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>